#startup, #initial_startup {
    background-color: black !important;
}

body {
    background-color: #333 !important;
    background-image: linear-gradient(180deg,#171717,#000) !important;
}

:root {
    --beige: #e5ddd5 !important;
    --beige-rgb: 229, 221, 213 !important;
    --black: #000 !important;
    --black-rgb: 0, 0, 0 !important;
    --blue: #039be5 !important;
    --blue-rgb: 3, 155, 229 !important;
    --blue-light: #00a5f4 !important;
    --blue-light-rgb: 0, 165, 244 !important;
    --blue-ocean: #aadaff !important;
    --blue-ocean-rgb: 170, 218, 255 !important;
    --blue-sky: #9de1fe !important;
    --blue-sky-rgb: 157, 225, 254 !important;
    --dark: #263238 !important;
    --dark-rgb: 38, 50, 56 !important;
    --gray-30: #f7f7f7 !important;
    --gray-30-rgb: 247, 247, 247 !important;
    --gray-60: #f0f0f0 !important;
    --gray-60-rgb: 240, 240, 240 !important;
    --gray-70: #ededed !important;
    --gray-70-rgb: 237, 237, 237 !important;
    --gray-100: #e6e6e6 !important;
    --gray-100-rgb: 230, 230, 230 !important;
    --gray-150: #d9d9d9 !important;
    --gray-150-rgb: 217, 217, 217 !important;
    --gray-200: #ccc !important;
    --gray-200-rgb: 204, 204, 204 !important;
    --gray-300: #b3b3b3 !important;
    --gray-300-rgb: 179, 179, 179 !important;
    --gray-400: #999 !important;
    --gray-400-rgb: 153, 153, 153 !important;
    --gray-500: grey !important;
    --gray-500-rgb: 128, 128, 128 !important;
    --gray-600: #666 !important;
    --gray-600-rgb: 102, 102, 102 !important;
    --gray-700: #4a4a4a !important;
    --gray-700-rgb: 74, 74, 74 !important;
    --gray-800: #303030 !important;
    --gray-800-rgb: 48, 48, 48 !important;
    --gray-850: #262626 !important;
    --gray-850-rgb: 38, 38, 38 !important;
    --gray-900: #1a1a1a !important;
    --gray-900-rgb: 26, 26, 26 !important;
    --green: #07bc4c !important;
    --green-rgb: 7, 188, 76 !important;
    --green-deep: #1b9a59 !important;
    --green-deep-rgb: 27, 154, 89 !important;
    --orange: #ffad20 !important;
    --orange-rgb: 255, 173, 32 !important;
    --pale-blue-green: #ecfaf5 !important;
    --pale-blue-green-rgb: 236, 250, 245 !important;
    --pale-green: #dcf8c6 !important;
    --pale-green-rgb: 220, 248, 198 !important;
    --pale-yellow: #fff5c4 !important;
    --pale-yellow-rgb: 255, 245, 196 !important;
    --red: #d70000 !important;
    --red-rgb: 215, 0, 0 !important;
    --red-light: #f44336 !important;
    --red-light-rgb: 244, 67, 54 !important;
    --teal: #009688 !important;
    --teal-rgb: 0, 150, 136 !important;
    --teal-light: #1de9b6 !important;
    --teal-light-rgb: 29, 233, 182 !important;
    --teal-lighter: #00bfa5 !important;
    --teal-lighter-rgb: 0, 191, 165 !important;
    --white: #fff !important;
    --white-rgb: 255, 255, 255 !important;
    --yellow: #fed859 !important;
    --yellow-rgb: 254, 216, 89 !important;
    --active-tab-marker: #00af9c !important;
    --active-tab-marker-rgb: 0, 175, 156 !important;
    --app-background-stripe: #163636 !important;
    --app-background-stripe-rgb: 22, 54, 54 !important;
    --audio-progress-incoming: #0ca448 !important;
    --audio-progress-incoming-rgb: 12, 164, 72 !important;
    --audio-progress-outgoing: #648d89 !important;
    --audio-progress-outgoing-rgb: 100, 141, 137 !important;
    --audio-progress-played-incoming: #068ed0 !important;
    --audio-progress-played-incoming-rgb: 6, 142, 208 !important;
    --audio-progress-played-outgoing: #0193d2 !important;
    --audio-progress-played-outgoing-rgb: 1, 147, 210 !important;
    --audio-track-incoming: #384349 !important;
    --audio-track-incoming-rgb: 56, 67, 73 !important;
    --audio-track-outgoing: #1e5953 !important;
    --audio-track-outgoing-rgb: 30, 89, 83 !important;
    --avatar-background: #101d24 !important;
    --avatar-background-rgb: 16, 29, 36 !important;
    --avatar-border: #a5aaad !important;
    --avatar-border-rgb: 165, 170, 173 !important;
    --avatar-placeholder-background: #223138 !important;
    --avatar-placeholder-background-rgb: 34, 49, 56 !important;
    --avatar-placeholder-primary: #6d7e86 !important;
    --avatar-placeholder-primary-rgb: 109, 126, 134 !important;
    --background-app: #e0e0e0 !important;
    --background-app-rgb: 224, 224, 224 !important;
    --background-default: #101d24 !important;
    --background-default-rgb: 16, 29, 36 !important;
    --background-default-active: #212d33 !important;
    --background-default-active-rgb: 33, 45, 51 !important;
    --background-default-hover: #17242b !important;
    --background-default-hover-rgb: 23, 36, 43 !important;
    --border-bubble: hsla(0, 0%, 100%, 0.06) !important;
    --border-bubble-rgb: 255, 255, 255 !important;
    --border-default: #303030 !important;
    --border-default-rgb: 48, 48, 48 !important;
    --border-list: #1c282f !important;
    --border-list-rgb: 28, 40, 47 !important;
    --border-panel: #28343a !important;
    --border-panel-rgb: 40, 52, 58 !important;
    --border-strong: #364147 !important;
    --border-strong-rgb: 54, 65, 71 !important;
    --border-stronger: hsla(0, 0%, 100%, 0.08) !important;
    --border-stronger-rgb: 255, 255, 255 !important;
	--bubble-meta: rgba(255, 255, 255, 0.45) !important;
    --bubble-meta-rgb: 0,0,0 !important;
    --bubble-meta-icon: rgba(255, 255, 255, 0.3) !important;
    --bubble-meta-icon-rgb: 0,0,0 !important;
    --butterbar-battery-background: #e05b52 !important;
    --butterbar-battery-background-rgb: 224, 91, 82 !important;
    --butterbar-battery-icon: rgba(241, 241, 242, 0.8) !important;
    --butterbar-battery-icon-rgb: 241, 241, 242 !important;
    --butterbar-battery-primary: rgba(241, 241, 242, 0.96) !important;
    --butterbar-battery-primary-rgb: 241, 241, 242 !important;
    --butterbar-battery-secondary: rgba(241, 241, 242, 0.8) !important;
    --butterbar-battery-secondary-rgb: 241, 241, 242 !important;
    --butterbar-connection-background: #febc2c !important;
    --butterbar-connection-background-rgb: 254, 188, 44 !important;
    --butterbar-connection-primary: rgba(28, 40, 47, 0.96) !important;
    --butterbar-connection-primary-rgb: 28, 40, 47 !important;
    --butterbar-connection-secondary: rgba(28, 40, 47, 0.85) !important;
    --butterbar-connection-secondary-rgb: 28, 40, 47 !important;
    --butterbar-default-background: #39c !important;
    --butterbar-default-background-rgb: 51, 153, 204 !important;
    --butterbar-icon: rgba(241, 241, 242, 0.8) !important;
    --butterbar-icon-rgb: 241, 241, 242 !important;
    --butterbar-primary: rgba(241, 241, 242, 0.96) !important;
    --butterbar-primary-rgb: 241, 241, 242 !important;
    --butterbar-secondary: rgba(241, 241, 242, 0.85) !important;
    --butterbar-secondary-rgb: 241, 241, 242 !important;
    --butterbar-update-background: #00af9c !important;
    --butterbar-update-background-rgb: 0, 175, 156 !important;
    --button-alternative: #00a5f4 !important;
    --button-alternative-rgb: 0, 165, 244 !important;
    --button-alternative-background: #232e35 !important;
    --button-alternative-background-rgb: 35, 46, 53 !important;
    --button-background-disabled: #253137 !important;
    --button-background-disabled-rgb: 37, 49, 55 !important;
    --button-bubble: rgba(0, 175, 156, 0.7) !important;
    --button-bubble-rgb: 0, 175, 156 !important;
    --button-primary: #101d24 !important;
    --button-primary-rgb: 16, 29, 36 !important;
    --button-primary-background: #00af9c !important;
    --button-primary-background-rgb: 0, 175, 156 !important;
    --button-primary-background-hover: #00c3ae !important;
    --button-primary-background-hover-rgb: 0, 195.4, 174.18514 !important;
    --button-round-background: #00af9c !important;
    --button-round-background-rgb: 0, 175, 156 !important;
    --button-secondary: #00af9c !important;
    --button-secondary-rgb: 0, 175, 156 !important;
    --button-secondary-background: transparent !important;
    --button-secondary-background-rgb: 0, 0, 0 !important;
    --button-secondary-background-hover: hsla(0, 0%, 100%, 0.05) !important;
    --button-secondary-background-hover-rgb: 255, 255, 255 !important;
    --button-secondary-hover: #00af9c !important;
    --button-secondary-hover-rgb: 0, 175, 156 !important;
    --chat-marker: #999 !important;
    --chat-marker-rgb: 153, 153, 153 !important;
    --chat-marker-admin: #00af9c !important;
    --chat-marker-admin-rgb: 0, 175, 156 !important;
    --chat-marker-admin-border: rgba(0, 175, 156, 0.7) !important;
    --chat-marker-admin-border-rgb: 0, 175, 156 !important;
    --chat-marker-border: hsla(0, 0%, 60%, 0.7) !important;
    --chat-marker-border-rgb: 153, 153, 153 !important;
	--chatlist-icon: rgba(255, 255, 255, 0.3) !important;
    --chatlist-icon-rgb: 0,0,0 !important;
    --checkbox-background: #009688 !important;
    --checkbox-background-rgb: 0,150,136 !important;
    --checkbox-mark: #fff !important;
    --checkbox-mark-rgb: 255,255,255 !important;
    --compose-background: #101d24 !important;
    --compose-background-rgb: 16, 29, 36 !important;
    --compose-background-focused: #0c3b52 !important;
    --compose-background-focused-rgb: 12, 59, 82 !important;
    --compose-border-focused: #0c405a !important;
    --compose-border-focused-rgb: 12, 64, 90 !important;
    --compose-panel-background: #1c282f !important;
    --compose-panel-background-rgb: 28, 40, 47 !important;
    --conversation-panel-background: #0b1419 !important;
    --conversation-panel-background-rgb: 11.29231, 20.46731, 25.40769 !important;
    --conversation-panel-border: hsla(0, 0%, 100%, 0.08) !important;
    --conversation-panel-border-rgb: 255, 255, 255 !important;
    --danger: #ef697a !important;
    --danger-rgb: 239, 105, 122 !important;
    --drawer-background: #0d171d !important;
    --drawer-background-rgb: 12.86154, 23.31154, 28.93846 !important;
    --drawer-gallery-background: #0d171d !important;
    --drawer-gallery-background-rgb: 12.86154, 23.31154, 28.93846 !important;
    --drawer-header-title: #cddad9 !important;
    --drawer-header-title-rgb: 205, 218, 217 !important;
    --drawer-section-background: #101d24 !important;
    --drawer-section-background-rgb: 16, 29, 36 !important;
    --dropdown-background: #253137 !important;
    --dropdown-background-rgb: 37, 49, 55 !important;
    --dropdown-background-hover: #202c33 !important;
    --dropdown-background-hover-rgb: 32, 44, 51 !important;
    --empty-state-background: #1c282f !important;
    --empty-state-background-rgb: 28, 40, 47 !important;
    --empty-state-icon: #7c8387 !important;
    --empty-state-icon-rgb: 124, 131, 135 !important;
    --focus: #00a5f4 !important;
    --focus-rgb: 0, 165, 244 !important;
    --focus-lighter: rgba(0, 165, 244, 0.12) !important;
    --focus-lighter-rgb: 0, 165, 244 !important;
    --focus-animation: rgba(0, 165, 244, 0.26) !important;
    --focus-animation-rgb: 0, 165, 244 !important;
    --focus-animation-deeper: rgba(0, 165, 244, 0.32) !important;
    --focus-animation-deeper-rgb: 0, 165, 244 !important;
    --highlight: #00af9c !important;
    --highlight-rgb: 0, 175, 156 !important;
    --icon: #757c80 !important;
    --icon-rgb: 117, 124, 128 !important;
    --icon-ack: rgba(3, 155, 229, 0.8) !important;
    --icon-ack-rgb: 3, 155, 229 !important;
    --icon-disabled: #3e484e !important;
    --icon-disabled-rgb: 62, 72, 78 !important;
    --icon-disabled-darwin: #aeb1b3 !important;
    --icon-disabled-darwin-rgb: 174, 177, 179 !important;
    --icon-disabled-win32: #9b9b9b !important;
    --icon-disabled-win32-rgb: 155, 155, 155 !important;
    --icon-fixed: #757c80 !important;
    --icon-fixed-rgb: 117, 124, 128 !important;
    --icon-lighter: hsla(0, 0%, 100%, 0.27) !important;
    --icon-lighter-rgb: 255, 255, 255 !important;
    --icon-search-back: #038aca !important;
    --icon-search-back-rgb: 3, 138, 202 !important;
    --icon-strong: #cfd2d3 !important;
    --icon-strong-rgb: 207, 210, 211 !important;
    --incoming-background: #222e35 !important;
    --incoming-background-rgb: 34, 46, 53 !important;
    --incoming-background-deeper: #1d282e !important;
    --incoming-background-deeper-rgb: 29, 40, 46 !important;
    --incoming-background-highlight: #ccc !important;
    --incoming-background-highlight-rgb: 204, 204, 204 !important;
    --incoming-primary: #777d81 !important;
    --incoming-primary-rgb: 119, 125, 129 !important;
    --input-border-active: #00af9c !important;
    --input-border-active-rgb: 0, 175, 156 !important;
    --input-placeholder: #70777c !important;
    --input-placeholder-rgb: 112, 119, 124 !important;
    --intro-background: #222f36 !important;
    --intro-background-rgb: 34, 47, 54 !important;
    --intro-border: #054740 !important;
    --intro-border-rgb: 5, 71, 64 !important;
    --inverse: #f1f1f2 !important;
    --inverse-rgb: 241, 241, 242 !important;
    --labels-icon: hsla(0, 0%, 100%, 0.4) !important;
    --labels-icon-rgb: 255, 255, 255 !important;
    --link: #039be5 !important;
    --link-rgb: 3, 155, 229 !important;
    --live-location-footer-background: rgba(16, 29, 36, 0.9) !important;
    --live-location-footer-background-rgb: 16, 29, 36 !important;
    --live-location-glow: rgba(37, 211, 102, 0.3) !important;
    --live-location-glow-rgb: 37, 211, 102 !important;
    --live-location-glow-stale: rgba(255, 0, 31, 0.3) !important;
    --live-location-glow-stale-rgb: 255, 0, 31 !important;
    --location-cluster-background: #101d24 !important;
    --location-cluster-background-rgb: 16, 29, 36 !important;
    --media-editor-control: #1c313f !important;
    --media-editor-control-rgb: 28, 49, 63 !important;
    --media-viewer-background: rgba(16, 29, 36, 0.98) !important;
    --media-viewer-background-rgb: 16, 29, 36 !important;
    --media-viewer-button-background: #1c282f !important;
    --media-viewer-button-background-rgb: 28, 40, 47 !important;
    --media-viewer-button-icon: #f1f1f2 !important;
    --media-viewer-button-icon-rgb: 241, 241, 242 !important;
    --menu-tabs-list-active: #00af9c !important;
    --menu-tabs-list-active-rgb: 0, 175, 156 !important;
    --message-background-deep: rgba(8, 14, 18, 0.35) !important;
    --message-background-deep-rgb: 8, 14, 18 !important;
    --message-placeholder-icon: hsla(0, 0%, 80%, 0.3) !important;
    --message-placeholder-icon-rgb: 204, 204, 204 !important;
    --message-selection-highlight: hsla(0, 0%, 100%, 0.05) !important;
    --message-selection-highlight-rgb: 255, 255, 255 !important;
    --modal-backdrop: rgba(16, 29, 36, 0.85) !important;
    --modal-backdrop-rgb: 16, 29, 36 !important;
    --modal-backdrop-solid: #1c282f !important;
    --modal-backdrop-solid-rgb: 28, 40, 47 !important;
    --modal-background: #2d383e !important;
    --modal-background-rgb: 45, 56, 62 !important;
    --notification-biz-background: #1c282f !important;
    --notification-biz-background-rgb: 28, 40, 47 !important;
    --notification-biz-text: #55fad9 !important;
    --notification-biz-text-rgb: 85, 250, 217 !important;
    --notification-e2e-background: #1c282f !important;
    --notification-e2e-background-rgb: 28, 40, 47 !important;
    --notification-e2e-icon: #fad964 !important;
    --notification-e2e-icon-rgb: 250, 217, 100 !important;
    --notification-e2e-text: #fad964 !important;
    --notification-e2e-text-rgb: 250, 217, 100 !important;
    --notification-text: hsla(0, 0%, 100%, 0.4) !important;
    --notification-text-rgb: 255, 255, 255 !important;
    --outgoing-background: #054740 !important;
    --outgoing-background-rgb: 5, 71, 64 !important;
    --outgoing-background-deeper: #053f3a !important;
    --outgoing-background-deeper-rgb: 5, 63, 58 !important;
    --outgoing-background-highlight: #ccc !important;
    --outgoing-background-highlight-rgb: 204, 204, 204 !important;
    --overlay: #080e12 !important;
    --overlay-rgb: 8, 14, 18 !important;
    --panel-background: #1c282f !important;
    --panel-background-rgb: 28, 40, 47 !important;
    --panel-background-active: #1a262d !important;
    --panel-background-active-rgb: 26, 38, 45 !important;
    --panel-background-colored: #054740 !important;
    --panel-background-colored-rgb: 5, 71, 64 !important;
    --panel-background-colored-deeper: #063935 !important;
    --panel-background-colored-deeper-rgb: 6, 57, 53 !important;
    --panel-background-deep: #162026 !important;
    --panel-background-deep-rgb: 22, 32, 38 !important;
    --panel-background-deeper: #1a252c !important;
    --panel-background-deeper-rgb: 26, 37, 44 !important;
    --panel-background-hover: #1b272e !important;
    --panel-background-hover-rgb: 27, 39, 46 !important;
    --panel-background-lighter: #1a252c !important;
    --panel-background-lighter-rgb: 26, 37, 44 !important;
	--panel-header-background:#101d24 !important;
    --panel-primary: hsla(0, 0%, 100%, 0.35) !important;
    --panel-primary-rgb: 255, 255, 255 !important;
    --payment-amount: #00a593 !important;
    --payment-amount-rgb: 0, 164.8, 146.90743 !important;
    --payment-status-failed: #ef697a !important;
    --payment-status-failed-rgb: 239, 105, 122 !important;
    --payment-status-processing: hsla(0, 0%, 100%, 0.45) !important;
    --payment-status-processing-rgb: 255, 255, 255 !important;
    --payment-status-success: #07bc4c !important;
    --payment-status-success-rgb: 7, 188, 76 !important;
    --payment-status-waiting: hsla(0, 0%, 100%, 0.45) !important;
    --payment-status-waiting-rgb: 255, 255, 255 !important;
    --photopicker-overlay-background: rgba(33, 44, 49, 0.8) !important;
    --photopicker-overlay-background-rgb: 33, 44, 49 !important;
    --popup-panel-background: rgba(8, 14, 18, 0.2) !important;
    --popup-panel-background-rgb: 8, 14, 18 !important;
    --primary: #a5aaad !important;
    --primary-rgb: 165, 170, 173 !important;
    --primary-strong: #d4d5d7 !important;
    --primary-strong-rgb: 212, 213, 215 !important;
    --primary-stronger: rgba(241, 241, 242, 0.87) !important;
    --primary-stronger-rgb: 241, 241, 242 !important;
    --primary-title: rgba(212, 213, 215, 0.97) !important;
    --primary-title-rgb: 212, 213, 215 !important;
    --product-thumb-background: #1c282f !important;
    --product-thumb-background-rgb: 28, 40, 47 !important;
    --product-thumb-background-deeper: #2b3e49 !important;
    --product-thumb-background-deeper-rgb: 43.232, 61.76, 72.568 !important;
    --ptt-blue: #4fc3f7 !important;
    --ptt-blue-rgb: 79, 195, 247 !important;
    --ptt-button-cancel: rgba(229, 57, 53, 0.8) !important;
    --ptt-button-cancel-rgb: 229, 57, 53 !important;
    --ptt-button-send: rgba(9, 210, 97, 0.8) !important;
    --ptt-button-send-rgb: 9, 210, 97 !important;
    --ptt-gray: hsla(0, 0%, 100%, 0.4) !important;
    --ptt-gray-rgb: 255, 255, 255 !important;
    --ptt-green: #09d261 !important;
    --ptt-green-rgb: 9, 210, 97 !important;
    --ptt-message-blue: #039be5 !important;
    --ptt-message-blue-rgb: 3, 155, 229 !important;
    --quick-action-button: hsla(0, 0%, 100%, 0.5) !important;
    --quick-action-button-rgb: 255, 255, 255 !important;
    --quick-action-button-background: rgba(8, 14, 18, 0.6) !important;
    --quick-action-button-background-rgb: 8, 14, 18 !important;
    --rich-text-panel-background: #1c282f !important;
    --rich-text-panel-background-rgb: 28, 40, 47 !important;
    --secondary: hsla(0, 0%, 100%, 0.6) !important;
    --secondary-rgb: 255, 255, 255 !important;
    --secondary-light: hsla(0, 0%, 100%, 0.25) !important;
    --secondary-light-rgb: 255, 255, 255 !important;
    --secondary-lighter: hsla(0, 0%, 100%, 0.45) !important;
    --secondary-lighter-rgb: 255, 255, 255 !important;
    --secondary-stronger: hsla(0, 0%, 100%, 0.8) !important;
    --secondary-stronger-rgb: 255, 255, 255 !important;
    --shadow: #000 !important;
    --shadow-rgb: 0, 0, 0 !important;
    --shadow-light: rgba(0, 0, 0, 0.08) !important;
    --shadow-light-rgb: 0, 0, 0 !important;
    --spinner-default: #75787a !important;
    --spinner-default-rgb: 117, 120, 122 !important;
    --spinner-highlight: #00af9c !important;
    --spinner-highlight-rgb: 0, 175, 156 !important;
    --spinner-incoming: #646d72 !important;
    --spinner-incoming-rgb: 100, 109, 114 !important;
    --spinner-outgoing: #507e79 !important;
    --spinner-outgoing-rgb: 80, 126, 121 !important;
    --status-background: #000 !important;
    --status-background-rgb: 0, 0, 0 !important;
    --status-background-hover: #242424 !important;
    --status-background-hover-rgb: 36, 36, 36 !important;
    --status-primary: #fff !important;
    --status-primary-rgb: 255, 255, 255 !important;
    --status-secondary: hsla(0, 0%, 100%, 0.55) !important;
    --status-secondary-rgb: 255, 255, 255 !important;
    --status-secondary-stronger: #b3b3b3 !important;
    --status-secondary-stronger-rgb: 179, 179, 179 !important;
    --success: #00af9c !important;
    --success-rgb: 0, 175, 156 !important;
    --suspicious-background: rgba(239, 105, 122, 0.8) !important;
    --suspicious-background-rgb: 239, 105, 122 !important;
    --system-message-background: #1e2a30 !important;
    --system-message-background-rgb: 30, 42, 48 !important;
    --system-message-text: hsla(0, 0%, 100%, 0.87) !important;
    --system-message-text-rgb: 255, 255, 255 !important;
    --teal-hover: #00b7a1 !important;
    --teal-hover-rgb: 0, 183, 161 !important;
    --teal-pale: #5fc8bc !important;
    --teal-pale-rgb: 95, 200, 188 !important;
    --thumb-border-active: #75787a !important;
    --thumb-border-active-rgb: 117, 120, 122 !important;
    --thumb-border-viewer-active: #75787a !important;
    --thumb-border-viewer-active-rgb: 117, 120, 122 !important;
    --toast-background: rgba(8, 14, 18, 0.96) !important;
    --toast-background-rgb: 8, 14, 18 !important;
    --tooltip-background: rgba(89, 89, 89, 0.85) !important;
    --tooltip-background-rgb: 89.25, 89.25, 89.25 !important;
    --typing: #00af9c !important;
    --typing-rgb: 0, 175, 156 !important;
    --unread-background: #1c282f !important;
    --unread-background-rgb: 28, 40, 47 !important;
    --unread-bar-background: rgba(8, 14, 18, 0.3) !important;
    --unread-bar-background-rgb: 8, 14, 18 !important;
    --unread-marker-background: #00af9c !important;
    --unread-marker-background-rgb: 0, 175, 156 !important;
    --unread-marker-text: #101d24 !important;
    --unread-marker-text-rgb: 16, 29, 36 !important;
    --video-player-background: #000 !important;
    --video-player-background-rgb: 0, 0, 0 !important;
    --video-primary: #fff !important;
    --video-primary-rgb: 255, 255, 255 !important;
    --voip-accept-background: #39d575 !important;
    --voip-accept-background-rgb: 57, 213, 117 !important;
    --voip-background: #262626 !important;
    --voip-background-rgb: 38, 38, 38 !important;
    --voip-background-deep: #000 !important;
    --voip-background-deep-rgb: 0, 0, 0 !important;
    --voip-primary: #fff !important;
    --voip-primary-rgb: 255, 255, 255 !important;
    --voip-reject-background: #e54b40 !important;
    --voip-reject-background-rgb: 229, 75, 64 !important;
    --win32-title-primary: #fff !important;
    --win32-title-primary-rgb: 255, 255, 255 !important;
}
